/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* /reset */

/* typography */
@font-face {
  font-family: Windows;
  src: url(px_sans_nouveaux.ttf);
}
/* /typography */

/* common */
body {
  background-color: #008080;
  font-family: "Windows";
  font-size: 8px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* /common */

/* main */
main {
  display: flex;
}
.icons {
  color: white;
  font-weight: 100;
  /* border: 1px solid black; */
  margin-top: 30px;
  margin-left: 10px;
}
.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  text-align: center;
  margin-bottom: 30px;
}
.folder img {
  width: 40px;
  padding-bottom: 5px;
}

/* open folders */
.computer-open {
  position: absolute;
  left: 30%;
  top: 5%;
  width: 600px;
  border: 3px solid #b6b6b6;
  box-shadow: -1px -1px 0px 1px #e2e2e2, 0px 0px 0px 2px #152020,
    -1.5px -1.5px 0.5px 1px #cecece;
}

/*  top bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #808080;
  height: 25px;
}
.top-bar-title {
  display: flex;
}
.top-bar-title img {
  height: 20px;
  padding-left: 3px;
}
.top-bar-title h3 {
  color: #c7c6c6;
  padding-left: 3px;
}
.buttons {
  padding-right: 3px;
  display: flex;
}
.buttons button {
  width: 20px;
  height: 20px;
  background-color: #c0c0c0;
  border-top-color: #e5e5e5;
  border-left-color: #e5e5e5;
}
.buttons button:last-child {
  margin-left: 2px;
}
.buttons button i {
  padding: 0 3px;
}
.maximize {
  width: 12px;
  height: 12px;
  border: 1.5px solid black;
  border-top: 3px solid black;
  margin-left: 1.5px;
}
.reduce {
  width: 8px;
  height: 12px;
  border-bottom: 2.5px solid black;
  margin-left: 4px;
}
/* /top bar */

/* index */
.index {
  background-color: #c0c0c0;
  padding: 5px 0 5px 8px;
}
.index ul {
  display: flex;
}
.index ul li {
  list-style: none;
  padding-right: 15px;
  font-size: 9px;
}
.index ul li span {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
/* /index */

/* window */
.window {
  display: flex;
  height: 300px;
  background-color: #ffffff;
  padding-top: 5px;
  box-shadow: inset 2px 2px 0.8px 0px #444444,
    inset -1.5px -1.5px 0px 0px #bcbcbc;
  border-top: 1px solid #868686;
  border-left: 1px solid #868686;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
/* /window */

/* bottom bar */
.bottom-bar {
  display: flex;
  justify-content: space-between;
  background-color: #c0c0c0;
  padding-top: 1px;
}
.bottom-bar .left,
.bottom-bar .right {
  padding: 1px 4px;
  box-shadow: inset 1.5px 1.5px 0px 0px #989898,
    inset -1.5px -1.5px 0px 0px #efefef;
  width: 40%;
}
.bottom-bar .right {
  width: 59.5%;
  position: relative;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 7.5px solid white;
  position: absolute;
  right: -4px;
  bottom: 0;
  transform: rotate(-45deg);
}
.line1,
.line2,
.line3,
.line4 {
  border: 0.5px solid #aeaeae;
  position: absolute;
  transform: rotate(-45deg);
}
.line1 {
  width: 13px;
  bottom: 5px;
  right: -1px;
}
.line2 {
  width: 9px;
  bottom: 3.5px;
  right: -0.5px;
}
.line3 {
  width: 5px;
  bottom: 2px;
  right: 0px;
}
/* /bottom bar */

/* /open folders */

/* /main */

/* footer */
footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  background-color: #b5b5b5;
  box-shadow: 0px -2px 1px 0px #e6e6e6;
  height: 40px;
}
footer button {
  border-radius: 0;
  padding: 5px;
  font-family: "Windows";
  cursor: pointer;
  font-size: 10px;
}
.start {
  background-color: #b5b5b5;
  border-top-color: #e6e6e6;
  border-top-width: 1.5px;
  border-left-color: #e6e6e6;
  margin-left: 6px;
}
.time {
  border: none;
  margin-right: 6px;
  padding: 5px 15px;
  background-color: #b5b5b5;
  box-shadow: 1.5px 0px 0.5px 0px #e6e6e6, 1px 1px 1px 0px #d0d0d0,
    inset 1.5px 1.5px 0.5px 0px #807f7f, 3px 0px 5px 0px #e6e6e6;
}
/* /footer */
